#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_clean:
	dh_clean
	# Add here commands to clean up after the build process.
	[ ! -f Makefile ] || $(MAKE) clean
	-rm -f doc/Makefile
	-rm -f src/config.h
	-rm -f src/.*.d
	-rm -f src/Makefile
	#-rm -f config.log config.status Makefile configure-stamp

override_dh_auto_install:
	dh_auto_install
	install -d -m 0755 debian/smcroute/etc
	install -m 0644 debian/smcroute.conf debian/smcroute/etc/smcroute.conf
